*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.bg{
    background-image: url("img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100%;

    
      
  }

  .container h1 {
      color: white;
      text-align: center;
      background-color: teal;
      padding: 10px 0px;
      width: 50%;
      margin: auto;
  }
  

  nav a h1 {
      font-size: 20px;
      margin-top: 26px;
     
     
  }

  .game img {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 70px;
      border-radius: 10px;
      box-shadow: white 0px 0px 6px 5px;
      height: 300px;
  }