

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background-image: url("img/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logo img {
  width: 90px;
  border-radius: 5px;
}

.profileImg img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}



  .slick-post img {

    width: 100%;
    height: 149.5px;
    margin-top: 50px;
    border-radius: 15px;
    padding: 0px 10px;
    
  }

  

  .slick-post img:hover {
    opacity: 0.5;
  }

  .slick-post h3 {
    padding:0px 10px ;
    margin: 0px 10px;
    background-color: antiquewhite;
    text-align: center;
  }