body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body{
    background-image: url("img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {  .wrapper {
    max-width: 540px;
  }
}
@media (min-width: 768px) {  .wrapper {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}


.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button,
.btn,
select {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* Section top bottom gap */
.section-gap {
  padding: 4.5rem 0;
}

@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }
}

/* / Section top bottom gap */



.contact-grids {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.contact-right {
  padding-left: 28px;
}

.contact-left {
  padding-right: 28px;
}

span.fa-envelope-open-o {
  font-size: 60px;
  display: inline-block;
  margin: 20px 0;
  opacity: 0.333;
  color: #222042;
}

.contact-left h3 {
  font-size: 52px;
  line-height: 40px;
  color: #ddd;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

.contact-left h4 {
  font-size: 52px;
  line-height: 60px;
  color: #222042;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.contact-left h6 {
  font-size: 18px;
  line-height: 28px;
}

.contact-grids input,
.contact-grids textarea {
  width: 100%;
  color: #555;
  background: #fff;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  border: none;
  font-family: inherit;
  padding: 15px;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 0px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.contact-grids textarea {
  height: 120px;
  margin: 0 0 20px 0;
}

.contact-grids input:focus,
.contact-grids textarea:focus {
  border: 1px solid #222042;
}
.submit {
  border: 2px solid #222042;
  color: #fff;
  background: #222042;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 0px;
  font-weight: normal;
  display: block;
  border-radius: 4px;
  transition: 0.3s ease-in;
}
.submit:hover {
  border: 2px solid #1d1c3a;
  background: #1d1c3a;
  transition: 0.3s ease-in;
}

@media (max-width: 992px) {
  .contact-right {
    padding-left: 0px;
    margin-top: 2em;
  }
  .contact-grids {
    grid-template-columns: 1fr;
  }
  .contact-left h4,
  .contact-left h3 {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 800px) {
  .contact-left h4,
  .contact-left h3 {
    font-size: 44px;
    line-height: 44px;
  }
}
@media (max-width: 600px) {
  .contact-left h4,
  .contact-left h3 {
    font-size: 38px;
    line-height: 38px;
  }
}
@media (max-width: 480px) {
  .contact-left h4,
  .contact-left h3 {
    font-size: 34px;
    line-height: 34px;
  }
}