*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.bg{
    background-image: url("img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    
      
  }

  

  nav a h1 {
      font-size: 20px;
      margin-top: 26px;
     
     
  }

  .games-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
      
     
  }

  @media (max-width:1500px){
    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
    }

}

@media (max-width:700px){
    .games-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }

}

@media (max-width:800px){
    .games-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }

}


@media (max-width:500px){
    .games-container {
        display: grid;
        grid-template-columns: 1fr;
       
    }

    .games-container .game img {
        display: flex;
        justify-content: center;
        margin: auto;

    }

    

}

  .game {
    background-color: blueviolet;
    margin: 10px;
    width: 300px;
  /*  height: 200px;*/
    border-radius: 5px;
  }


  .games-container .game img {
      width: 200px;
      height: 194px;
      border-radius: 880px;
      padding: 0px 0px 0px 30px;
     /* margin-bottom: 50px;*/

      
  }

  .games-container .game h3 {
      color: white;
      text-transform: capitalize;
      text-align: center;
  }
